body
{
	background-color: #c2c8ff;
}

#head
{
	border: 1px solid #a8aff6;
	font-size: 250%;
	font-family: times;
	font-weight: bolder;
	text-align: center;
	padding: 10px;
	background-color: #d2d6ff;
}

#main
{
	padding-top: 10px;
}

#bottom
{
	padding-top: 5px;
	padding-bottom: 5px;
}

#contentlist
{
  position: relative;
  text-align: center;
  margin:0 auto;
}

.box
{
	border: 1px solid #a8aff6;
	background-color: #d2d6ff;
	padding: 10px;
}

.button {
  background-color: #c2c8ff;
  border: 2px solid #a8aff6;
  color: #000000;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 2px;
  padding: 5px;
  cursor: pointer;
  width: 250px;
}

.button:hover
{
	background-color: #bfc4fc;
}

table, th, td
{
	border: 1px solid #a8aff6;
	border-collapse: collapse;
	padding: 5px;
}

tr:nth-child(even)
{
	background-color: #c2c8ff;
}

tr:nth-child(odd)
{
	background-color: #bfc4fc;
}

th
{
	background-color: #b4bbff;
}